{% INCLUDE 'overall_header.html' %}

<h1>{{ lang('ACP_FILE_UPLOAD') }}</h1>

<p><img src="https://img.shields.io/badge/{{ lang('Version') }}-{{ ACP_FILEUPLOAD_VERSION }}-green.svg?style=plastic" /></p>

<form id="acp_fileupload" method="post" action="{{ U_ACTION }}">
	<fieldset>
		<legend>{{ lang('ACP_FILE_UPLOAD_CONFIGURATION') }}</legend>
		<dl>
			<dt><label for="fileupload_enable">{{ lang('ACP_FILEUPLOAD_ENABLE') }}{{ lang('COLON') }}</label><br />
				<span>{{ lang('ACP_FILEUPLOAD_ENABLE_EXPLAIN') }}</span>
			</dt>
			<dd>
				<label><input type="radio" class="radio" name="fileupload_enable" value="1"{% if ACP_FILEUPLOAD_ENABLE %} id="fileupload_enable" checked="checked"{% endif %} /> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="fileupload_enable" value="0"{% if not ACP_FILEUPLOAD_ENABLE %} id="fileupload_enable" checked="checked"{% endif %} /> {{ lang('NO') }}</label>
			</dd>
		</dl>
		<dl>
			<dt>
				<label for="fileupload_number">{{ lang('ACP_FILEUPLOAD_NUMBER') }}{{ lang('COLON') }}</label><br />
				<span>{{ lang('ACP_FILEUPLOAD_NUMBER_EXPLAIN') }}<br />{{ ACP_FILEUPLOAD_ALLOWED_SIZE }}</span>
			</dt>
			<dd>
				<input type="number" name="fileupload_number" id="fileupload_number" size="4" maxlength="4" min="1" max="5000" value="{{ ACP_FILEUPLOAD_NUMBER }}" />
			</dd>
		</dl>
	</fieldset>
	<fieldset>
		<p class="submit-buttons">
			<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}" />&nbsp;
			<input class="button2" type="reset" id="reset" name="reset" value="{{ lang('RESET') }}" />
			{{ S_FORM_TOKEN }}
		</p>
	</fieldset>
	{% if loops.files|length %}
	{% if loops.pagination|length or ACP_TOTAL_FILES %}
	<div class="pagination">
		{{ ACP_TOTAL_FILES }}
		{% if loops.pagination|length %}
			{% INCLUDE 'pagination.html' %}
		{% else %}
			&bull; {{ PAGE_NUMBER }}
		{% endif %}
	</div>
	{% endif %}
	<div class="clear"></div>
	<table cellspacing="1">
		<thead>
			<tr>
				<th>{{ lang('ACP_FILEUPLOAD_TITLE') }}</th>
				<th>{{ lang('ACP_FILEUPLOAD_TITLE_REAL') }}</th>
				<th>{{ lang('ACP_FILEUPLOAD_USERNAME') }}</th>
				<th>{{ lang('ACP_FILEUPLOAD_SIZE') }}</th>
				<th style="text-align: center;">{{ lang('MARK') }}</th>
			</tr>
		</thead>
		<tbody>
		{% for files in loops.files %}
			{% if files.S_ROW_COUNT is even %}<tr class="row1">{% else %}<tr class="row2">{% endif %}
				<td valign="top">{{ files.FILENAME }}</td>
				<td valign="top">{{ files.FILENAME_REAL }}</td>
				<td valign="top">{{ files.FILE_USERNAME }}</td>
				<td valign="top">{{ files.SIZE }}</td>
				<td style="text-align: center;"><input type="checkbox" class="radio" name="ids[]" value="{{ files.ID }}" title="{{ files.ID }}"/></td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
	<span style="float:left;display:block;">{{ lang('ACP_FILEUPLOAD_FOLDER_SIZE') }}{{ lang('COLON') }} {{ TOTAL_FILE_SIZE }}</span>
	<br />
	<fieldset class="quick">
		<p class="small"><a href="#" onclick="marklist('acp_fileupload', 'ids', true);">{{ lang('MARK_ALL') }}</a> &bull; <a href="#" onclick="marklist('acp_fileupload', 'ids', false);">{{ lang('UNMARK_ALL') }}</a></p>
		<input class="button2" name="delmarked" value="{{ lang('DELETE_MARKED') }}" type="submit">
	</fieldset>
	<fieldset class="display-options">
		<span class="gensmall">{{ lang('SORT_BY') }}</span> {{ S_SELECT_SORT_KEY }} {{ S_SELECT_SORT_DIR }}&nbsp;
		<input class="button2" type="submit" name="sort" value="{{ lang('GO') }}" />
	</fieldset>
	{% endif %}
</form>

{% INCLUDE 'overall_footer.html' %}
